<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="websiteService" factory-bean="serviceFactory" factory-method="createWebsiteService">
    </bean>

    <bean id="applicationService" factory-bean="serviceFactory" factory-method="createApplicationService">
        <constructor-arg value="supremepole"/>
    </bean>

    <bean id="serviceFactory" class="com.supremepole.springinstancefactory.ServiceFactory">
    </bean>

</beans>